:root {
  /* neutral */
  --neutral-100: #f7f7f7;
  --neutral-200: #e1e1e1;
  --neutral-300: #d6d6d6;
  --neutral-400: #c8c8c8;
  --neutral-500: #a1a1a1;
  --neutral-600: #828282;
  --neutral-700: #555454;
  --neutral-800: #242943;
  --text: #000;
  --text-inverted: #fff;

  /* primary */
  --primary-100: #876ed7;
  --primary-200: #6a48d7;
  --primary-300: #3914af;
  --primary-400: #412c84;
  --primary-500: #200772;

  /* secondary */
  --secondaary-100: #ffe773;
  --secondaary-200: #ffde40;
  --secondaary-300: #ffd300;
  --secondaary-400: #ffbf00;
  --secondaary-500: #fda50f;

/* status colors */
  --error-100: #c66;
  --error-200: #bf3030;
  --error-300: #aa2a2a;
  --success-100: #367B48;
  --success-200: #3e7c3e;
  --success-300: #145114;
}
