:root {
  /* neutral */
  --neutral-100: #f7f7f7;
  --neutral-200: #f0f0f0;
  --neutral-300: #d6d6d6;
  --neutral-400: #c8c8c8;
  --neutral-500: #a1a1a1;
  --neutral-600: #828282;
  --neutral-700: #555454;
  --neutral-800: #242943;
  --text: #000;
  --text-inverted: #fff;

  /* primary */
  --primary-100: #876ed7;
  --primary-200: #6a48d7;
  --primary-300: #3914af;
  --primary-400: #412c84;
  --primary-500: #200772;

  /* secondary */
  --secondary-100: #ffe773;
  --secondary-200: #ffde40;
  --secondary-300: #ffd300;
  --secondary-400: #ffbf00;
  --secondary-500: #fda50f;

  /* status colors */
  --error-100: #c66;
  --error-100-rgb: 204, 102, 102;
  --error-200: #bf3030;
  --error-300: #aa2a2a;
  --success-100: #76be76;
  --success-100-rgb: 118, 190, 118;
  --success-200: #3e7c3e;
  --success-300: #145114;

  /** background colors */
  --background-primary: #c0b2ee;
  --background-danger-100: #ecc1c1;
  --background-danger-200: #d9b3b3;
  --background-secondary: #ffecb3;
  --background-success-200: #bbdfbb;
  --background-success-100: #cfe8cf;
}
