@import '../../assets/styles/colors.css';
@import '../../assets/styles/font-sizes.css';
@import '../../assets/styles/fonts.css';
@import '../../assets/styles/effects.css';

body {
    margin: 0;
    padding: 0!important;
    font-family: var(--font-libreBaskerville);
    box-sizing: border-box;
  }

  input {
    font-family: var(--font-libreBaskerville);
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .presentationBox {
    margin: 50px;
    width: 350px;
}

.presentationContent {
  padding: 50px;
}