.draggable {
    padding: 5px;
    border: 1px solid var(--gray-dark);
    border-radius: 2px;
}

.answerBox {
    display: inline-block;
    width: 100px;
    height: 30px;
    background: var(--gray-lightest);
}