@import '../../assets/styles/colors.css';
@import '../../assets/styles/font-sizes.css';
@import '../../assets/styles/fonts.css';
@import '../../assets/styles/effects.css';

.gameContainer {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  margin: 0 24px;

  @media (width >= 800px) {
    gap: 24px;
  }
}

.task {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: var(--font-kalam);
  font-size: var(--font-size-l);
  margin: 0 24px;
  position: relative;

  @media (width >= 800px) {
    font-size: var(--font-size-m);
  }
}

.question {
  font-size: var(--font-size-s);
  display: flex;
  gap: 12px;
  margin: 0;
  padding: 0 16px;
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;

  @media (width >= 800px) {
    gap: 40px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  gap: 24px;

  @media (width >= 800px) {
    margin-bottom: 38px;
    gap: 40px;
  }
}

.questionContainer {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.correctAnswer {
  height: 38px;
  box-sizing: border-box;
  padding: 8px;
  color: var(--success-300);
  border: 1px dashed var(--success-200);
  margin: 0;
}

.correctAnswer.hidden {
  opacity: 0;
}

.additionalAudio {
  width: 30px;
}

.listIcon {
  color: var(--secondary-500);
  flex-shrink: 0;
}

.examplesContainer {
  position: absolute;
  left: 0;
  margin: 30px;
  bottom: 100px;
  max-width: 350px;
  font-family: var(--font-kalam);

  @media (width <= 1200px) {
    display: none;
  }
}

.examplesHeading {
  font-weight: normal;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}

.listIconBook {
  color: var(--primary-100);
  flex-shrink: 0;
}

.example {
  display: flex;
  gap: 12px;
}

.examplesText {
  display: block;
  line-height: 1.5;
}

.examplesText > i {
  color: var(--primary-500);
}

.additionalInfo {
  text-align: center;

  @media (width >= 800px) {
    position: absolute;
    right: 0;
    margin: 30px;
    max-width: 250px;
    top: 250px;
  }
}

.wordImage {
  max-width: 200px;
  max-height: 600px;
  margin-bottom: 16px;

  @media (width <= 1200px) {
    display: none;
  }
}

.modalContent {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalWordImg {
  height: 200px;
  margin: 16px;

  @media (width >= 800px) {
    display: none;
  }
}

.additionalInfoBtn {
  margin-top: 16px;

  @media (width >= 800px) {
    display: none;
  }
}

.modal {
  max-width: calc(100% - 64px);
}

.checkboxBlock {
  height: 32px;
}

.imageQuestion {
  max-height: 300px;
  max-width: 400px;
}
