@import '../../assets/styles/colors.css';
@import '../../assets/styles/font-sizes.css';
@import '../../assets/styles/fonts.css';
@import '../../assets/styles/effects.css';

.task {
  text-align: center;
  font-family: var(--font-kalam);
  font-size: var(--font-size-l);
}

.question {
  font-size: var(--font-size-m);
  display: flex;
  gap: 10px;
  align-items: center;
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 40px auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questionContainer {
  max-width: 800px;
}
