.playButton {
    display: flex;
    align-items: center;
    padding: 0;
    border: 0;
    background: transparent;
    color: inherit;
    cursor: pointer;
}

.buttonText {
    margin-right: 2px;
    font-family: var(--font-libreBaskerville);
    font-size: var(--font-size-xs);
    font-style: italic;
}

.playButton:hover {
    color: var(--primary-200);
}

.icon {
    vertical-align: bottom;
}
