.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  margin: 32px 0;
}

.listItem {
  width: 100%;
}

.mainHeading {
  font-size: var(--font-size-l);
  margin: 0;
}

.content {
  margin: 80px auto;

  @media (width <= 800px) {
    margin: 24px auto;
  }
}

.search {
  margin: 50px 0;

  @media (width <= 800px) {
    margin: 24px auto;
  }
}

.suggestionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.suggestions {
  display: flex;
  flex-wrap: wrap;
}

.suggestion {
  border: 0;
  background: var(--text-inverted);
  font-size: var(--font-size-m);
  font-style: italic;
  cursor: pointer;
  text-decoration: underline;
  font-family: var(--font-libreBaskerville);
}

.suggestionsIcon {
  flex-shrink: 0;
  transform: rotate(180deg);
}

.headingContainer {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;

  @media (width <= 800px) {
    gap: 24px;
  }
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.notFoundText {
  font-style: italic;
  font-weight: normal;
  font-size: var(--font-size-s);
}

.notFoundImage {
  width: 200px;
}

.word {
  font-weight: bold;
}

.disclaimer {
  font-size: var(--font-size-s);
  background-color: var(--neutral-100);
  padding: 16px;
  border: 1px dashed var(--neutral-500);
  margin: 0 48px;
  line-height: 1.5;
}
