.mainHeading {
  font-size: var(--font-size-xl);
  margin: 0;
}

.bannerText {
  font-size: var(--font-size-l);
  max-width: 700px;
  margin-top: 18px;
  margin-bottom: 24px;
}

.subheading {
  font-size: var(--font-size-l);
  text-align: center;
  margin: 0;
}

.mainPict {
  height: 200px;
}

.pict {
  height: 150px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  @media (max-width: 800px) {
    margin: 24px 0;
    flex-direction: column;
  }
}

.catalog {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 32px;
  flex-wrap: wrap;
  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.catalog > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 280px;
}

.catalog > div > p {
  text-align: center;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.mainText {
  width: 100%;
  line-height: 1.5;
  margin: 0;
}

.bottomContent {
  position: relative;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.planePic {
  height: 200px;
  @media (max-width: 800px) {
    height: 150px;
  }
}

.secondaryButton {
  margin-left: 64px;
}

.bottomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
  gap: 16px;
  @media (max-width: 800px) {
    flex-direction: column;
    margin: 24px 0;
  }
}
