@import '../../assets/styles/colors.css';
@import '../../assets/styles/font-sizes.css';
@import '../../assets/styles/fonts.css';
@import '../../assets/styles/effects.css';

.tag {
  color: var(--text);
  border-radius: 20px;
  padding: 0 16px;
  font-family: var(--font-kalam);
}

.withIcon {
  display: flex;
  gap: 4px;
  align-items: center;
}
