@import '../../assets/styles/colors.css';
@import '../../assets/styles/font-sizes.css';
@import '../../assets/styles/fonts.css';
@import '../../assets/styles/effects.css';

.container {
  position: relative;
  display: inline-block;
}

.select {
  padding: 8px;
  margin: 0;
  background: transparent;
  color: var(--neutral-800);
  font-size: var(--font-size-xs);
  font-family: var(--font-libreBaskerville);
  position: relative;
  border-radius: var(--secondary-border-radius);
  border: 1px solid transparent;
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  margin-top: 4px;
  border-radius: var(--primary-border-radius);
  box-shadow: var(--secondary-box-shadow);
  position: absolute;
  right: 0;
  border: 1px solid var(--neutral-500);
  background: var(--text-inverted);
  z-index: 1;
}

.radio {
  position: absolute;
  z-index: 0;
  opacity: 0;
}

.label {
  background: var(--text-inverted);
  z-index: 1;
  position: relative;
  padding: 8px;
  border-radius: var(--secondary-border-radius);
  border: 1px solid transparent;
  color: var(--neutral-800);
  font-size: var(--font-size-xs);
  font-family: var(--font-libreBaskerville);
  display: flex;
  gap: 8px;
  align-items: center;
}

.checked {
  border: 1px solid var(--primary-100);
}

.label:hover,
.select:hover {
  background: var(--neutral-100);
}

.label:focus,
.select:focus {
  border: 1px solid var(--neutral-600);
  outline: none;
}
