@import '../../assets/styles/colors.css';
@import '../../assets/styles/font-sizes.css';
@import '../../assets/styles/fonts.css';
@import '../../assets/styles/effects.css';

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.optionContainer {
  position: relative;
  z-index: 1;
  width: 600px;
  border: 1px solid transparent;
}

.option {
  padding: 16px 24px;
  font-size: var(--font-size-xs);
  border: 1px solid var(--neutral-500);
  border-radius: var(--secondary-border-radius);
  box-shadow: var(--secondary-box-shadow);
}

.optionContainer:focus-within {
  border: 1px solid var(--neutral-800);
}

.hidden {
  position: absolute;
  opacity: 0;
  z-index: 0;
}

.hidden:checked + .option {
  background: var(--background-secondary);
}

.option.success {
  background: var(--background-success);
  border: 1px solid var(--success-300);
}

.option.error {
  background: var(--background-danger);
  border: 1px solid var(--error-300);
}

.hidden:checked + .option.error {
  background: var(--background-danger);
}

.hidden:checked + .option.success {
  background: var(--background-success);
}
