@import '../../assets/styles/colors.css';
@import '../../assets/styles/font-sizes.css';
@import '../../assets/styles/fonts.css';
@import '../../assets/styles/effects.css';

.container {
    position: relative;
    display: inline;
}

.content {
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding: 16px;
    position: absolute;
    right: 0;
    width: fit-content;
    border: 1px solid var(--neutral-500);
    box-shadow: var(--secondary-box-shadow);
    border-radius: var(--primary-border-radius);
    margin-top: 4px;
    background: var(--text-inverted);
    z-index: 1;
}

.munuButton {
    border: 0;
    background: transparent;
    padding: 0;
}

.avatar {
    background: transparent;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--neutral-500);
    cursor: pointer;
}

.avatarImage {
    height: 26px;
}

.avatar:focus {
    outline: none;
    border: 2px solid var(--primary-200);
}

.menuLink {
    text-decoration: none;
}

.munuButton, .menuLink {
    display: flex;
    gap: 16px;
    color: var(--neutral-800);
    font-size: var(--font-size-xs);
    font-family: var(--font-libreBaskerville);
    border-bottom: 2px solid transparent;
    cursor: pointer;
    padding: 2px 0;
}

.munuButton:focus, .menuLink:focus {
    border-bottom: 2px solid var(--primary-200);
    outline: none;
    padding: 2px o;
}

.munuButton:hover, .menuLink:hover {
    color: var(--primary-300);
}

