.link {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 50px 0;
  color: var(--neutral-800);
  font-size: var(--font-size-s);
  text-decoration: none;
  border-bottom: 1px solid var(--neutral-800);
  width: fit-content;
  padding-bottom: 4px;
}

.wordCard {
  margin-left: 50px;
}
