.header {
    display: flex;
    height: 75px;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    background: var(--primary-500);
    color: var(--secondary-300);
    font-family: var(--font-kalam);
    font-size: var(--font-size-xxs);
    text-transform: uppercase;
}

.navItems {
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: space-around;
}

.navItem {
    align-self: center;
    margin: 0 15px;
    border-radius: 4%;
    transition: background-color 0.5s ease;
    list-style: none;
}

.activeLink {
    background: var(--primary-400);
    color: var(--secondary-100);
}

.headerLink, .activeLink {
    color: inherit;
    padding: 9px;
    text-decoration: none;
}

.headerLink:hover, .activeLink:hover {
    background: var(--primary-100);
    color: var(--secondary-100);
}