.buttonContainer {
  display: flex;
  gap: 50px;
  align-items: center;
}

.formFields {
  padding: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 32px;
}

/* TODO use grid layout for the form fields */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
