.buttonContainer {
  display: flex;
  gap: 50px;
  align-items: center;
}

.formFields {
  padding: 32px;
  display: grid;
  grid-row-gap: 8px;

  @media (min-width: 800px) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
