.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    font-family: var(--font-libreBaskerville);
}

.form {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    gap: 20px;
}

.errorMessage {
    color: var(--notification-danger-dark);
    font-size: var(--font-size-m);
}

.loaderContainer {
    height: 80px;
}

.loader {
    height: 50px;
}
