@import '../../assets/styles/colors.css';
@import '../../assets/styles/font-sizes.css';
@import '../../assets/styles/fonts.css';
@import '../../assets/styles/effects.css';

.container {
  width: 400px;
}

.tags {
  display: flex;
  flex-wrap: wrap;

  gap: 8px;
}

.tag {
  display: flex;
  align-items: center;
  gap: 8px;
}

.select {
  width: 100% !important;
}

.button {
  background: var(--text-inverted);
}
