@import '../../assets/styles/colors.css';
@import '../../assets/styles/font-sizes.css';
@import '../../assets/styles/fonts.css';
@import '../../assets/styles/effects.css';

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputContainer {
  width: 350px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.pronoun {
  display: inline-block;
  flex-shrink: 0;
  width: 100px;
}

.input {
  width: initial;
}
