.word {
    padding: 15px;
    border: 1px solid rgb(32 7 114 / 20%);
    margin: 10px 20px;
    border-radius: 3px;
    box-shadow: 0 3px 0 var(--neutral-200);
    font-family: var(--font-libreBaskerville);
    display: flex;
    justify-content: space-between;

}

.wordHeader {
    display: flex;
    align-items: baseline;
}

.particle {
    margin: 0 10px;
    font-style: italic;
}

.textIcon {
    margin-right: 5px;
    color: var(--secondary-500);
}

.name {
    color: var(--primary-500);
    font-weight: bold;
}

.examples {
    font-family: var(--font-kalam);
}

.examplesTitle {
    font-size: var(--font-size-s);
}

.examplesList {
    padding: 0 10px;
    margin: 0 50px;
}

.examplesListInfo {
    color: var(--primary-300);
    font-weight: bold;
}

.exampleItem {
    padding: 5px;
    color: var(--neutral-700);
}

.defListItem {
    display: flex;
    align-items: baseline;
}

.defItem {
    margin: 10px 0;
    line-height: 1.5rem;
}

.top {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
}

.top header {
    padding: 10px 0;
}

.audio {
    font-size: var(--font-size-xs);
}

.transcription {
    color: var(--neutral-700);
    font-style: italic;
}

.image {
    align-self: center;
}