.wordList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  margin: 0 auto;
}

.wordListItem {
  width: 100%;
}

.link {
  text-decoration: none;
  font-size: var(--font-size-m);
  color: inherit;
}

.wordCard:hover {
  background: var(--neutral-100);
}

.heading {
  margin: 40px auto;
  font-size: var(--font-size-xl);
  text-align: center;
}

.wordsInfo {
  display: flex;
  gap: 16px;
  font-size: var(--font-size-m);
  justify-content: center;
  margin: 0;
  margin-bottom: 40px;
}
