.infoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-libreBaskerville);
}

.info {
    margin: 100px auto;
}

.mainHeading {
    font-size: var(--font-size-xxxl);
    display: flex;
    align-items: center;
    justify-content: center;
}

.subheading {
    padding: 30px;
    border-bottom: 1px solid var(--gray-lighter);
    color: var(--purple-darkest);
    text-align: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 35px;
}

.red {
    color: var(--notification-danger);
}

.base {
    color: var(--purple-darker);
}
