@import '../../assets/styles/colors.css';
@import '../../assets/styles/font-sizes.css';
@import '../../assets/styles/fonts.css';
@import '../../assets/styles/effects.css';

.inputContainer {
    display: flex;
    flex-direction: column;
    font-family: var(--font-libreBaskerville);
}

.input {
    border: 1px solid var(--neutral-600);
    background-color: var(--neutral-100);
    padding: 10px 20px;
    font-size: var(--font-size-xs);
    box-shadow: var(--primary-box-shadow);
    font-family: var(--font-libreBaskerville);
}

.input:focus  {
    border-bottom: 2px solid var(--primary-300);
    outline: none;
}

.label {
    padding: 4px 0;
    font-size: var(--font-size-xxs);
    color: var(--neutral-800);
}

.errorText {
    width: 100%;
    color: var(--error-200);
    opacity: 0;
    text-align: center;
    transition: opacity 1s ease;
    font-size: var(--font-size-xxs);
    padding: 4px 0;
    margin: 0;
}

.incorrect > .input{
    border-bottom: 2px solid var(--error-200);
}

.incorrect >.label {
    color: var(--error-200);
}

.incorrect > .errorText {
    opacity: 1;
}