
.input {
    height: 50px;
    border-radius: 2px;
    border: 3px solid var(--purple-base);
    padding: 0 15px;
}

.label {
    padding: 5px 0;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    font-family: var(--font-libreBaskerville);
    color: var(--purple-darker);
    font-size: var(--font-size-xs);
}

.error {
    border: 1px solid var(--notification-danger-lighter);
    color: var(--notification-danger);
    visibility: visible;
}

.errorText {
    width: 100%;
    color: var(--notification-danger);
    opacity: 0;
    text-align: center;
    transition: opacity 1s ease;
}

.errorTextActive {
    opacity: 1;
}