.link {
    color: var(--text);
}

.singUpForm {
    margin-top: 20px;
    display: flex;
    row-gap: 40px;
    column-gap: 100px;
    flex-flow: row wrap;
    justify-content: center;
}

.singUpFormHeading {
    margin: 0;
    font-size: var(--font-size-l);
    align-self: flex-start;
    text-align: center;
}

.text {
    margin: 40px 0;
    text-align: center;
}