@import '../../assets/styles/colors.css';
@import '../../assets/styles/font-sizes.css';
@import '../../assets/styles/fonts.css';
@import '../../assets/styles/effects.css';

.cardWrapper {
    cursor: pointer;
    transition:0.3s ease background-color;
}

.cardWrapper:hover {
    background: var(--neutral-100);
}