.gamesList {
  display: grid;
  grid-gap: 24px;
  margin: 0 auto;
  width: fit-content;

  @media (width >= 800px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.pageTitle {
  margin: 0;
  text-align: center;
  font-size: var(--font-size-l);
}

.selectValue {
  padding: 8px;
  width: 200px;
  margin: 0;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 24px auto;
  gap: 24px;
}

.sortControls {
  align-self: flex-end;
}

.tagsSelector {
  width: 400px;
}

.topSection {
  display: flex;
  gap: 32px;
  justify-self: flex-end;
}

.page {
  display: flex;
  flex-direction: column;
}

.catalog {
  flex-grow: 3;
  display: flex;
  align-items: center;
}
