.gamesList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.pageTitle {
  margin: 0;
  text-align: center;
  font-size: var(--font-size-l);
}

.selectValue {
  padding: 8px;
  width: 200px;
  margin: 0;
}

.topContainer {
  display: flex;
  margin: 100px 70px;
  justify-content: space-between;
}

.orderControls {
  display: flex;
  gap: 8px;
}

.select {
  width: 250px;
}
