.infoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-libreBaskerville);
}

.mainHeading {
    font-size: var(--font-size-xxxl);
    display: flex;
    align-items: center;
    justify-content: center;
}

.subheading {
    padding: 30px;
    border-bottom: 1px solid var(--neutral-300);
    color: var(--neutral-800);
    text-align: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 35px;
}

.red {
    color: var(--error-200);
}

.base {
    color: var(--primary-500);
}
